@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  color: #333;
}

