@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merriweather Sans');

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #BA0C2F; 
    font-family: Oswald; 
    font-size: large;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

nav p {
    color: white;
    margin: 0;
}

footer {
    background-color: #9EA2A2; 
    font-family: Merriweather; 
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

footer a {
    color: black;
}

footer label{
    margin: 0 5px 0 5px;
}

.splash {
    padding: 20px 20px 0 20px;
}

.splash h1 {
    font-family: Oswald;
    font-size: xx-large;
    text-align: center;
}

.splash img {
    display: block;
    border: 5px solid #BA0C2F;
    width: 250px;
    height: 250px;
    margin: auto;
}

.splash p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
}

hr {
    border: 2.5px solid #9EA2A2;
}

section {
    margin: 0px 10px 0px 10px;
}

section h2 {
    font-family: Oswald;
    font-size: x-large;
    color: #9EA2A2;
}

section a {
    color: #BA0C2F;
    text-decoration: none;
}

section a:hover {
    color: #E4002B;
}

section ul {
    list-style-type: square;
}

section dl {
    display: grid;
}

section li {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section dt {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section dd {
    font-size: small;
    font-family: Merriweather Sans;
}

.education {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin: 0px 20px 25px 20px
}

.card {
    border: 5px solid #BA0C2F;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    max-width: 100%;
    border-top: 0px solid hsl(348, 88%, 39%);
    border-radius: 20px;
    justify-content: center;
}

.card h3 {
    color: #BA0C2F; 
    text-align: center;
    font-family: Oswald;
    font-size: large;
    margin: 0px 5px 0px 5px;
}

.card li {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0px 5px 10px 5px;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px 25% 15px 25%;
}

.one-col label {
    font-size: large;
    font-family: Oswald;
    color: #BA0C2F;
}

input[type="text"] {
    font-size: medium;
    font-family: Georgia;
}

input[type="email"] {
    font-size: medium;
    font-family: Georgia;
}

textarea {
    font-size: medium;
    font-family: Georgia;
}

.submit {
    margin: 5px 0 0 0;
    background-color: #BA0C2F;
    font-size: medium;
    font-family: Oswald;
    color: #FFFFFF;
}
